/NinjaReader.vcxproj
/NinjaReader.vcxproj.filters
/ReadMe.txt
/Release/NinjaReader.Build.CppClean.log
/Release/NinjaReader.log
/Release/NinjaReader.obj
/Release/NinjaReader.tlog/CL.command.1.tlog
/Release/NinjaReader.tlog/CL.read.1.tlog
/Release/NinjaReader.tlog/CL.write.1.tlog
/Release/NinjaReader.tlog/NinjaReader.lastbuildstate
/Release/NinjaReader.tlog/NinjaReader.write.1u.tlog
/Release/NinjaReader.tlog/link.command.1.tlog
/Release/NinjaReader.tlog/link.read.1.tlog
/Release/NinjaReader.tlog/link.write.1.tlog
/Release/stdafx.obj
/Release/vc141.pdb
/stdafx.cpp
/stdafx.h
/targetver.h
/windivert.h
